<h2>Directory initialisation</h2>
<p>
    The installer will now try to initialise the main directory for this guest.<br />
    If you have configured the base directory properly, giving the application server the right
    read/write permissions, this will end correctly. In case of errors, check that the application
    server where Rinascimento is published has full read/write access to the root base directory.
</p>
<div class="alert alert-info">
    <span class="fa fa-info-circle"></span>
    Rinascimento has detected the following base directory: <strong>{{baseDirectory}}</strong>
</div>
<div class="text-center">
    <button class="btn btn-warning btn-lg" (click)="doWork()">
        Create directory structure
    </button>
</div>