<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml" th:lang="${langCode}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="lang" content="en" th:content="${langCode}" />
    <th:block th:each="meta: ${metaTag}">
        <meta th:name="meta.key" th:content="meta.value" />
    </th:block>
    <title th:text="${title}">Page title</title>
    <th:block th:each="css: ${templateCss}">
        <link th:href="css.href" rel="stylesheet" type="text/css" />
    </th:block>
    <th:block th:each="css: ${pageCss}">
        <link th:href="css.href" rel="stylesheet" type="text/css" />
    </th:block>
    <th:block th:each="css: ${widgetCss}">
        <link th:href="css.href" rel="stylesheet" type="text/css" />
    </th:block>
</head>
<body>

<th:block th:utext="${body}" />

<th:block th:each="js: ${templateJs}">
    <script th:src="js.href" type="text/javascript"></script>
</th:block>
<th:block th:each="js: ${pageJs}">
    <script th:src="js.href" type="text/javascript"></script>
</th:block>
<th:block th:each="js: ${widgetJs}">
    <script th:src="js.href" type="text/javascript"></script>
</th:block>
</body>
</html>