@import './theme.scss';

/* ==============================================================
                     Custom bootstrap theme
 ============================================================== */

@mixin backgrounds($back, $fore) {
    background-color: $back;
    color: $fore;
}

@mixin border($color) {
    border-color: $color;
}

body {
    @include backgrounds($main-color, #FFF);
    font-weight: 300;
}

.bg-success, .btn-success {
    @include backgrounds($color-success, #FFF);
}

.btn-success {
    @include border($color-success);
}

.bg-info, .btn-info {
    @include backgrounds($color-info, #FFF);
}

.btn-info {
    @include border($color-info);
}

.bg-warning, .btn-warning {
    @include backgrounds($color-warning, #FFF);
}

.btn-warning {
    @include border($color-warning);
}

.bg-danger, .btn-danger {
    @include backgrounds($color-danger, #FFF);
}

.btn-danger {
    @include border($color-danger)
}

.bg-primary, .btn-primary {
    @include backgrounds($color-primary, #FFF);
}

.btn-primary {
    @include border($color-primary);
}

.bg-emboss {
    @include backgrounds($color-emboss, #FFF);
}

.btn-dark {
    @include backgrounds($color-dark, #FFF);
    @include border($color-dark);
}

input {
    background-color: $color-dark !important;
    color: #FFF !important;
    border: 2px solid transparent;

    &:focus {
        background-color: #464646 !important;
        border-color: $color-primary !important;
    }

    &.ng-valid[required], .ng-valid.required {
        border-color: $color-success;
        color: $color-success;
    }

    &.ng-invalid {
        border-color: $color-danger;
        color: $color-danger;
    }
}

.alert {
    background-color: transparent;
    border: 2px solid;
    font-weight: bold;

    &.alert-success {
        @include border($color-success);
        color: $color-success;
    }

    &.alert-info {
        @include border($color-info);
        color: $color-info;
    }

    &.alert-danger {
        @include border($color-danger);
        color: $color-danger;
    }

    &.alert-warning {
        @include border($color-warning);
        color: $color-warning;
    }
}